@media (max-width: 800px) {
    .mobile {
        display: block;
        cursor: pointer;
        z-index: 1000;
    }

    .nav-items {
        flex-direction: column;
        width: 100%;
        display: none;
        /*experimental*/
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        top: 0;
    }

    .nav-items.active {
        display: flex;
        z-index: 1000;
        background-color: #070bf5;
        margin-top: 80px;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        padding-left: 10%;
        padding-bottom: 3vh;
        z-index: 1000;
    }
    .nav-items a {
        padding: 0.5rem 0;
    }
}