.services {
    width: 100%;
}

.service-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 5vh;
}

.card-image {
    width: 40%;
    border-radius: 2vw;
}

.card-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 2vw;
}

.card-copy {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.card-copy h3 {
    text-align: center;
    padding-bottom: 1rem;
}

.card-copy p {
    text-align: center;
    line-height: 1.3;
}