* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

.hero {
    height: 80vh;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #070bf5;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    top: 0;
}

.hero img {
    background-color: #fff;
    height: 100%;
    width: 80px;
}

.mobile {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
}

.mobile span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    border-radius: 2px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar .current{
    text-decoration: underline;
}

.navbar a:hover {
    text-decoration: underline overline;
    transition: transform 0.5s ease-in-out;
}

.contact {
    background-color: #f50505;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contact:hover {
    background-color: #921d03;
}

.contact a:hover {
    text-decoration: none;
}

.hero-content {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #070bf5;
    color: white;
}

.slide-container {
    overflow-x: hidden;
}


.hero-content h1 {
    font-size:  3rem;
    padding-bottom: 2rem;
    /*Apply the animation*/
    animation-name: slide-in-left;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

.hero-content p {
    padding-bottom: 2rem;
    /*Apply the animation*/
    animation-name: slide-in-right;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

.hero-content button {
    animation-name: slide-in-top;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes slide-in-left {
    from {
        /* Start position: 100% of its own width off the left edge*/
        transform: translateX(-100vw);
        opacity: 0;
    }

    to {
        /*End position: original position*/
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        /* Start position: 100% of its own width off the right edge*/
        transform: translateX(100vw);
        opacity: 0;
    }

    to {
        /*End position: original position*/
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    from {
        /* Start position: 100% of its own width off the right edge*/
        transform: translateY(-100vh);
        opacity: 0;
    }

    to {
        /*End position: original position*/
        transform: translateY(0);
        opacity: 1;
    }
}

.services {
    height: 100vh;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    width: 100%;
    background: rgba(8, 8, 10, 0.2);
    min-height: 80px;
    bottom: 0;
}

.whatsapp-link {
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.whatsapp-link img, .phone-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.whatsapp-link:hover, .phone-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.phone-link {
    position: fixed;
    bottom: 20%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.email-link {
    position: fixed;
    bottom: 30%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.email-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.email-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}   
