* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

.hero {
    height: 80vh;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #070bf5;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
}

.hero img {
    background-color: #fff;
    height: 100%;
    width: 80px;
}

.mobile {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
}

.mobile span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    border-radius: 2px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar .current{
    text-decoration: underline;
}

.navbar a:hover {
    text-decoration: underline overline;
    transition: transform 0.5s ease-in-out;
}

.contact {
    background-color: #ff5733;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact:hover {
    background-color: #921d03;
}

.contact a:hover {
    text-decoration: none;
}